.form {
  width: 300px;
  margin: 100px auto 0 auto;
}
.form__input-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.form__input-name {
  margin: 0 0 0 0;
  font-family: Inter, 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: white;
}

.form__textarea {
  resize: none;
  border: none;
  border-radius: 5px;
  height: 90px;
  margin: 5px 0 5px 0;
  font-family: Inter, 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

.form__input {
  border: none;
  border-radius: 5px;
  height: 30px;
  margin: 5px 0 5px 0;
  font-family: Inter, 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

.form__input:focus {
  outline: none;
  border: 3px solid #BC986A;
}

.form__textarea:focus {
  outline: none;
  border: 3px solid #BC986A;
}

.form__select {
  border: none;
  border-radius: 5px;
  height: 30px;
  margin: 5px 0 5px 0;
  font-family: Inter, 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

.form__select:focus {
  outline: none;
  border: 3px solid #BC986A;
}

.form__submit {
  margin: 20px 0 0 0;
  background: #BC986A;
  border-radius: 5px;
  box-sizing: border-box;
  border: none;
  width: 100%;
  height: 45px;
  font-family: Inter, 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  transition: opacity 0.1s linear 0.1s;
}

.form__submit_type_disactive {
  margin: 20px 0 0 0;
  background: #F8F8F8;
  color: #C2C2C2;
  border-radius: 5px;
  box-sizing: border-box;
  border: none;
  width: 100%;
  height: 45px;
  font-family: Inter, 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}

.form__submit:hover {
  cursor: pointer;
  opacity: 0.6;
}

.form__info-container {
  min-height: 30px;
}

.form__info {
  margin: 0 0 0 0;
  font-family: Inter, 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: rgb(107, 250, 11);
  text-align: center;
}