.card {
  position: relative;
  width: 300px;
  background-color: #BC986A;
  border-radius: 10px;
  box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-bottom: 11px;
  box-sizing: border-box;
}

.card__button-remove {
  position: absolute;
  top: 11px;
  right: 8px;
  background: url(../../images/exit.svg) center no-repeat;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: none;
  box-sizing: border-box;
  transition: opacity 0.1s linear 0.1s;
}

.card__button-remove:hover {
  cursor: pointer;
  opacity: 0.5;
}

.card__name {
  margin: 8px 0 8px 8px;
  font-family: Inter, 'Arial', sans-serif;
  text-decoration: none;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 27px;
  color: white;
}

.card__description {
  margin: 0 0 0 8px;
  font-family: Inter, 'Arial', sans-serif;
  text-decoration: none;
  font-style: normal;
  font-weight: 200;
  font-size: 14px;
  line-height: 16px;
  color: white;
}

.card__description:nth-of-type(4) {
  margin-top: 14px;
}

.card__button-description {
  height: 22px;
  margin: 11px 0 0 0;
  border: none;
  box-sizing: border-box;
  font-family: Inter, 'Arial', sans-serif;
  text-decoration: none;
  font-style: normal;
  font-weight: 200;
  font-size: 14px;
  line-height: 16px;
  color: #BC986A;
  transition: opacity 0.1s linear 0.1s;
}

.card__button-description:hover {
  cursor: pointer;
  opacity: 0.5;
}