.search-form {
  margin: 0 auto 0 auto;
  padding: 10px 0 10px 0;
  background-color: #659DBD;
  width: 100%;
}

.search-form__inputs-container {
  margin: 0 auto 0 auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  max-width: 980px;
  display: grid;
  column-gap: 40px;
  row-gap: 40px;
  list-style-type: none;
  flex-wrap: wrap;
}

.search-form__input-container {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.search-form__button-container {
  margin: 30px auto 0 auto;
  width: 300px;
  display: flex;
  flex-direction: column;
}

.search-form__input-name {
  margin: 0 0 0 0;
  font-family: Inter, 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: white;
}

.search-form__input {
  border: none;
  border-radius: 5px;
  height: 30px;
  margin: 5px 0 5px 0;
  font-family: Inter, 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

.search-form__input:focus {
  outline: none;
  border: 3px solid #BC986A;
}

.search-form__select {
  border: none;
  border-radius: 5px;
  height: 30px;
  margin: 5px 0 5px 0;
  font-family: Inter, 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

.search-form__select:focus {
  outline: none;
  border: 3px solid #BC986A;
}

.search-form__submit {
  margin: 20px 0 0 0;
  background: white;
  border-radius: 5px;
  box-sizing: border-box;
  border: none;
  width: 100%;
  height: 45px;
  font-family: Inter, 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #659DBD;
  transition: opacity 0.1s linear 0.1s;
}

.search-form__submit:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media screen and (max-width: 1040px) {
  .search-form__inputs-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    max-width: 640px;
  }
}

@media screen and (max-width: 740px) {
  .search-form__inputs-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    max-width: 300px;
  }
}