.header {
  padding: 30px 0 30px 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.header__link {
  line-height: 1;
  position: relative;
  z-index: 0;
  display: inline-block;
  overflow: hidden;
  vertical-align: bottom;
  box-sizing: border-box;
  padding: 5px;
  border-radius: 10px;
  margin: 0 30px 0 0;
  font-family: Inter, 'Arial', sans-serif;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  color: #FBEEC1;
  transition: color .3s ease-out;
}

.header__link::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  transform: translateY(calc(100% - 2px));
  width: 100%;
  height: 100%;
  background-image: linear-gradient(60deg, #FBEEC1 0%, #FBEEC1 100%);
  transition: transform .25s ease-out;
}

.header__link:hover {
  cursor: pointer;
  color: #659DBD;
}

.header__link:hover::before {
  transform: translateY(0);
  transition: transform .25s ease-out;
}

.header__link:last-of-type {
  margin-right: 0;
}

.header__link_active {
  background-image: linear-gradient(60deg, #FBEEC1 0%, #FBEEC1 100%);
  color: #659DBD;
}

@media screen and (max-width: 400px) {
  .header {
    flex-direction: column;
    align-items: center;
  }

  .header__link {
    margin: 0;
  }
}