@import url(./vendor/normalize.css);

@import url(./vendor/fonts/inter.css);

@import url(./components/App/App.css);

@import url(./components/Form/Form.css);

@import url(./components/Main/Main.css);

@import url(./components/Card/Card.css);

@import url(./components/Header/Header.css);

@import url(./components/SearchForm/SearchForm.css);

@import url(./components/Preloader/Preloader.css);

@import url(./components/Popup/Popup.css);
